.App {
  text-align: center;
  background-color: #070b22;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;
}

form{
  padding-bottom: 40px;
  display: flex;
}
input{
  padding: 20px;
  border-radius: 20px;
  border: none;
  margin-right: 10px;
  text-decoration: none;
  font-size: larger;
}
button{
  padding: 20px;
  border-radius: 20px;
  font-size: larger;
  font-weight: bolder;
  color: white;
   background-color: #221c3f;
   border: none;
   border: 1px solid white;
   cursor: pointer;
}
.hrs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mins{
  display: flex;
  flex-direction: column;
}
.show{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #221c3f;
  max-width: fit-content;
  color: white;
  padding: 50px;
  font-size: 50px;
  border-radius: 30px;
  border: 1px solid white;
}
